<%= render :partial => "shared/navbar" %>

<div class="container d-flex justify-content-center">
  <%= simple_form_for @list do |f| %>
    <h2>New List:</h2>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Create List", class: "form-button" %>
  <% end %>
</div>
