<%= render :partial => "shared/navbar" %>

<h1 class="text-center mb-4"><%= @list.name %></h1>
<div class="container mt-4">

  <div class="d-flex justify-content-end mb-4">
    <button class="button"><%= link_to "add a movie", new_list_bookmark_path(@list) %></button>
  </div>

  <% @bookmarks.each_slice(3) do |bm_group| %>
    <div class="row g-4">
      <% bm_group.each do |bm| %>
      <% @movie = @movies.find(bm.movie_id) %>
        <div class="col-md-4">
          <div class="card movie-card">
            <%= image_tag @movie.poster_url, alt: "Movie Poster", height: 200 %>

            <div class="card-body">
              <h5 class="card-title"><%= @movie.title %> · <span>⭐<%= @movie.rating %></span></h5>
              <p class="card-text"><%= @movie.overview %></p>
            </div>

            <div class="card-footer d-flex justify-content-between align-items-center">
              <p class="mb-0">
                <i class="fa-regular fa-comment"></i></i> <%= bm.comment %>
              </p>
              <%= link_to "delete", bookmark_path(bm), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-danger" %>
            </div>

            </div>
          </div>
        <% end %>
      </div>
    <% end %>
</div>
