<%= render :partial => "shared/navbar" %>

<h1 class="text-center mb-4"><%= @list.name %></h1>
<div class="container mt-4">

  <div class="d-flex justify-content-end mb-4">
    <button class="btn btn-primary">Add Movie</button>
  </div>
  <div class="row g-4">
    <div class="col-md-4">
      <% @bookmarks.each do |bm| %>
      <% @movie = @movies.find(bm.movie_id) %>
      <div class="card">
        <%# <img src="path_to_image.jpg" class="card-img-top" alt="Movie Image"> %>
        <%= image_tag @movie.poster_url, alt: "Movie Poster", height: 200 %>
        <div class="card-body">
          <h5 class="card-title"><%= @movie.title %> <span class="badge bg-secondary"><%= @movie.rating %></span></h5>
          <p class="card-text"><%= @movie.overview %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>
